<footer>
	<small>
		<a href="http://www.bradleycodes.com">Bradley Codes</a>
		by Jason Bradley
	</small>
	<nav>
		<ul>
			<li><%= link_to "About",   about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="http://www.bradleycodes.com">News</a></li>
		</ul>
	</nav>
</footer>